.main-discover {
  .stats {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 720px) {
      flex-direction: column;
      text-align: center;
    }

    div.info-box {
      height: 5rem;
      position: relative;

      @media only screen and (max-width: 720px) {
        &:not(:first-child) {
          margin-top: 3rem;
        }
      }

      &:first-child {
        flex-basis: 38%;
      }

      &:nth-child(2) {
        flex-basis: 38%;
      }

      &:last-child {
        flex-basis: 24%;
      }

      &:nth-child(2)::before, &:last-child::before {
        content: "";
        width: 0.05rem;
        height: 4.4rem;
        position: absolute;
        top: 0.3rem;
        left: -3rem;
        background-color: hsla(0, 0%, 0%, 0.3);

        @media only screen and (max-width: 720px) {
          width: 6rem;
          height: 0.05rem;
          left: 50%;
          transform: translateX(-50%);
          top: -1rem;
        }
      }

      span:first-child {
        display: block;
        font-size: 2.4rem;
        font-weight: var(--bold);
        margin-bottom: 0.5rem;
      }

      span:last-child {
        color: var(--dark-gray);
        font-weight: var(--medium);
      }
    }
  }

  .progress-bar-container {
    width: 100%;
    height: 0.9rem;
    border-radius: 0.45rem;
    margin-top: 2rem;
    background-color: var(--light-gray);

    .progress {
      background-color: var(--moderate-cyan);
      border-radius: 0.45rem;
      height: 100%;
      transition: width 3s;
    }
  }
}