.main-start {
  position: relative;
  text-align: center;

  img {
    position: absolute;
    top: -1.75rem;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (max-width: 720px) {
    h1 {
      font-size: 1.7rem;
      padding-top: 1.6rem;
    }
  }

  p {
    margin: 1rem 0 2.5rem;

    @media only screen and (max-width: 720px) {
      margin: 1.5rem 0;
    }
  }

  .bookmark-section {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 720px) {
      padding: 0 1rem;
    }

    button.back-btn {
      width: 12rem;
    }

    label {
      font-weight: var(--semi-bold);
      display: inline-block;
      width: 10.5rem;
      height: 3rem;
      padding-left: 2.5rem;
      box-sizing: border-box;
      line-height: 3rem;
      border-radius: 1.5rem;
      cursor: pointer;
      position: relative;

      @media only screen and (max-width: 720px) {
        width: 0;
      }

      &.default {
        background-color: var(--light-gray);
        color: var(--dark-gray);
      }

      &.active {
        background-color: var(--light-cyan);
        color: var(--dark-cyan);
      }

      img {
        position: absolute;
        width: 3rem;
        height: 3rem;
      }

      input[type="checkbox"] {
        width: 3rem;
        height: 3rem;
        appearance: none;
        outline: none;
        color: var(--dark-gray);
        background: url("../../assets/images/icon-bookmark-default.svg") no-repeat;
        background-size: 100%;
        position: absolute;
        left: 0;
        cursor: pointer;

        &:checked {
          background: url("../../assets/images/icon-bookmark-active.svg") no-repeat;
          background-size: 100%;
        }
      }
    }
  }
}