.pledges-container-wrapper {
  position: fixed;
  z-index: 4;
  width: 46rem;
  max-width: 90%;
  top: 50%;
  transform: translateY(-50%);
  max-height: 96vh;
  display: flex;
  margin: 0;

  &.show-pledges {
    animation: show-pledges 600ms 1 ease-in-out;
  }

  &.hide-pledges {
    animation: hide-pledges 600ms 1 ease-in-out;
  }
}

.pledges-container {
  position: relative;
  display: flex;
  flex-direction: column;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    svg path {
      transition: 200ms;
    }

    &:hover svg path {
      opacity: 1;
    }
  }

  > h2 {
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
  }

  > p {
    margin-bottom: 2.5rem;
    line-height: 1.7rem;

    @media only screen and (max-width: 720px) {
      margin-bottom: 1.6rem;
    }
  }

  .pledge-cards {
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pledge {
    border: 0.1rem solid hsla(0, 0%, 48%, 0.5);
    margin-top: 1.2rem;
    border-radius: 0.6rem;
    padding: 1.5rem 0;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &.green-border {
      border: 0.1rem solid var(--moderate-cyan);
    }

    &.disabled-card {
      pointer-events: none;
      opacity: 0.5;
    }

    .show {
      animation: show-functionality 400ms 1 linear forwards;
    }

    .hide {
      animation: hide-functionality 400ms 1 linear forwards;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 4rem;
      padding-right: 1.5rem;
      height: 2rem;

      div.header-labels {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 720px) {
          &:not(.no-reward-label) {
            flex-direction: column;
            align-items: flex-start;
          }

          &.no-reward-label label {
            margin: 0.1rem 0 0;
          }
        }

        label {
          font-weight: bold;
          font-size: 1.1rem;
          margin-right: 1rem;
          cursor: pointer;
          display: inline-block;
          transition: 300ms;

          @media only screen and (max-width: 720px) {
            margin-bottom: 0.3rem;
          }

          &:hover {
            color: var(--moderate-cyan);

            input[type="radio"]:not(:checked) {
              border: 1px solid var(--moderate-cyan);
            }
          }

          input[type="radio"] {
            appearance: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            left: 1.5rem;
            top: 2rem;
            width: 20px;
            height: 20px;
            border: 1px solid hsla(0, 0%, 48%, 0.5);
            border-radius: 50%;
            transition: border 300ms;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
              content: "";
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: var(--moderate-cyan);
              transition: 200ms;
            }

            &:checked::after {
              opacity: 1;
              transform: scale(1);
            }

            &:not(:checked)::after {
              opacity: 0;
              transform: scale(0);
            }
          }
        }

        .pledge-sum {
          color: var(--moderate-cyan);
          font-weight: var(--medium);

          &.shake {
            animation: pledge-sum-shake 600ms 1;
          }
        }
      }
    }

    p.left-number {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 720px) {
        padding-top: 1rem;
        padding-left: 1.5rem;
      }

      span {
        font-weight: bold;
        font-size: 1.6rem;
        color: black;
        margin-right: 0.3rem;
        padding-bottom: 0.1rem;
      }
    }

    .pledge-paragraph {
      padding-left: 4rem;
      padding-right: 1.5rem;
      line-height: 1.7rem;
      margin: 1.5rem 0 0.5rem;

      @media only screen and (max-width: 720px) {
        padding-left: 1.5rem;
      }
    }

    hr {
      height: 0.04rem;
      background-color: hsla(0, 0%, 48%, 0.5);
      border: none;
      margin: 1.5rem 0;
    }

    &__functionality {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      transform-origin: top;

      @media only screen and (max-width: 720px) {
        flex-direction: column;
      }

      > p {
        @media only screen and (max-width: 720px) {
          margin-bottom: 1.5rem;
        }
      }

      form {
        @media only screen and (max-width: 720px) {
          width: 100%;
          display: flex;
        }

        label {
          position: relative;
          line-height: 2.8rem;

          @media only screen and (max-width: 720px) {
            flex-basis: 40%;
            margin-right: 1rem;
          }

          span {
            position: absolute;
            left: 1rem;
            font-weight: bold;
            font-size: 1.1rem;
            color: hsla(0, 0%, 48%, 0.7);
          }

          input[type="number"] {
            -moz-appearance: textfield;

            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            height: 2.8rem;
            border-radius: 1.4rem;
            outline: none;
            border: 0.08rem solid hsla(0, 0%, 48%, 0.7);
            width: 5.2rem;
            padding-left: 2rem;
            padding-right: 1rem;
            box-sizing: border-box;
            margin-right: 0.8rem;
            font-size: 1.1rem;

            @media only screen and (max-width: 720px) {
              width: 100%;
            }

            &:focus {
              border: 0.1rem solid var(--moderate-cyan);
            }
          }
        }

        button {
          height: 2.8rem;
          line-height: 2.8rem;
          border-radius: 1.4rem;
          width: 7rem;

          @media only screen and (max-width: 720px) {
            flex-basis: 60%;
          }
        }
      }
    }
  }
}