.popup {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
  text-align: center;
  width: 34rem;
  padding: 0 3rem;
  box-sizing: border-box;
  z-index: 4;

  @media only screen and (max-width: 720px) {
    width: 90%;
    padding: 0 2rem;
  }

  img {
    margin: 2rem 0 3rem;

    @media only screen and (max-width: 720px) {
      margin-bottom: 1.5rem;
    }
  }

  p {
    margin: 1.5rem 0 2rem;
    line-height: 1.6rem;

    @media only screen and (max-width: 720px) {
      margin-top: 2rem;
    }
  }

  button.got-it-btn {
    width: 7rem;
    margin-bottom: 2rem;
  }
}

.show-popup {
  animation-delay: 600ms;
  animation: show-popup 600ms 1 ease-in-out;
}

.hide-popup {
  animation: hide-popup 600ms 1 ease-in;
}