:root {
  --light-cyan: hsl(180, 40%, 94%);
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --light-gray: hsl(0, 0%, 96%);
  --comissioner: "Commissioner", sans-serif;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: var(--comissioner);
}

body {
  background-color: var(--light-gray);
  min-height: 100vh;
  padding-top: 20%;
}
body::before {
  content: "";
  width: 100%;
  background: url("../assets/images/image-hero-desktop.jpg") no-repeat top;
  background-size: cover;
  position: absolute;
  top: 0;
  height: 0;
  padding-top: 27.77%;
  z-index: -1;
}

.dark-bg::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.6);
  opacity: 0;
}
.dark-bg.fade-in::before {
  z-index: 2;
  animation: darken-bg 400ms 1 forwards ease-in-out;
}
.dark-bg.fade-out::before {
  z-index: -1;
  animation: lighten-bg 400ms 1 forwards ease-in-out;
}

main {
  width: 46rem;
  max-width: 90%;
  margin: 0 auto;
}
main > * {
  width: 100%;
  border-radius: 0.6rem;
  background-color: white;
  padding: 3rem;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

button {
  height: 3.2rem;
  line-height: 3.2rem;
  border-radius: 1.6rem;
  font-size: 1rem;
  font-family: var(--comissioner);
  font-weight: var(--semi-bold);
  outline: none;
  border: none;
  background-color: var(--moderate-cyan);
  color: #fff;
  transition: 0.4s;
}
button:hover {
  cursor: pointer;
  background-color: var(--dark-cyan);
}

p {
  color: var(--dark-gray);
}

@keyframes show-popup {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes hide-popup {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
@keyframes darken-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lighten-bg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8% 0;
}
.header img:hover {
  cursor: pointer;
}
.header .header-links .nav-link {
  font-weight: 500;
  text-decoration: none;
  color: #fafafa;
  margin: 0 1rem;
}

.main-start {
  position: relative;
  text-align: center;
}
.main-start img {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
}
.main-start p {
  margin: 1rem 0 2.5rem;
}
.main-start .bookmark-section {
  display: flex;
  justify-content: space-between;
}
.main-start .bookmark-section button.back-btn {
  width: 12rem;
}
.main-start .bookmark-section label {
  font-weight: var(--semi-bold);
  display: inline-block;
  width: 10.5rem;
  height: 3rem;
  padding-left: 2.5rem;
  box-sizing: border-box;
  line-height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: relative;
}
.main-start .bookmark-section label.default {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}
.main-start .bookmark-section label.active {
  background-color: var(--light-cyan);
  color: var(--dark-cyan);
}
.main-start .bookmark-section label input[type=checkbox] {
  width: 3rem;
  height: 3rem;
  appearance: none;
  outline: none;
  color: var(--dark-gray);
  background: url("../assets/images/icon-bookmark-default.svg") no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.main-start .bookmark-section label input[type=checkbox]:checked {
  background: url("../assets/images/icon-bookmark-active.svg") no-repeat;
  background-size: 100%;
}

.main-discover .stats {
  display: flex;
  justify-content: space-between;
}
.main-discover .stats div.info-box {
  height: 5rem;
  position: relative;
}
.main-discover .stats div.info-box:first-child {
  flex-basis: 38%;
}
.main-discover .stats div.info-box:nth-child(2) {
  flex-basis: 38%;
}
.main-discover .stats div.info-box:last-child {
  flex-basis: 24%;
}
.main-discover .stats div.info-box:nth-child(2)::before, .main-discover .stats div.info-box:last-child::before {
  content: "";
  width: 0.05rem;
  height: 4.4rem;
  position: absolute;
  top: 0.3rem;
  left: -3rem;
  background-color: rgba(0, 0, 0, 0.3);
}
.main-discover .stats div.info-box span:first-child {
  display: block;
  font-size: 2.4rem;
  font-weight: var(--bold);
  margin-bottom: 0.5rem;
}
.main-discover .stats div.info-box span:last-child {
  color: var(--dark-gray);
  font-weight: var(--medium);
}
.main-discover .progress-bar-container {
  width: 100%;
  height: 0.9rem;
  border-radius: 0.45rem;
  margin-top: 2rem;
  background-color: var(--light-gray);
}
.main-discover .progress-bar-container .progress {
  background-color: var(--moderate-cyan);
  border-radius: 0.45rem;
  height: 100%;
}

.main-about > h2 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.main-about > p {
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.main-about__card {
  border: 0.05rem solid rgba(122, 122, 122, 0.5);
  margin-bottom: 1.5rem;
  border-radius: 0.6rem;
  padding: 2.2rem;
}
.main-about__card:last-child {
  margin-bottom: 0;
}
.main-about__card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-about__card header h3 {
  font-size: 1.2rem;
}
.main-about__card header p {
  color: var(--moderate-cyan);
  font-weight: var(--medium);
}
.main-about__card > p {
  line-height: 1.8rem;
  margin: 1.7rem 0;
}
.main-about__card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-about__card__bottom p {
  display: flex;
  align-items: center;
}
.main-about__card__bottom p span {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  margin-right: 0.5rem;
  padding-bottom: 0.1rem;
}
.main-about__card__bottom button {
  width: 11rem;
}
.main-about__card.disabled {
  opacity: 0.5;
}
.main-about__card.disabled button {
  background-color: var(--dark-gray);
  color: white;
}
.main-about__card.disabled button:hover {
  cursor: not-allowed;
}

.popup {
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
  text-align: center;
  width: 34rem;
  padding: 0 3rem;
  box-sizing: border-box;
  z-index: 3;
  opacity: 0;
}
.popup img {
  margin: 2rem 0 3rem;
}
.popup p {
  margin: 1.5rem 0 2rem;
  line-height: 1.6rem;
  color: var(--dark-gray);
}
.popup button.got-it-btn {
  width: 6rem;
  margin-bottom: 2rem;
}

.show-popup {
  animation: show-popup 400ms 1 forwards ease-in-out;
}

.hide-popup {
  animation: hide-popup 400ms 1 forwards ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=App.css.map */
