@import "base";

// GET STARTED BUTTON
.get-started-btn {
  background-color: $bright-red;
  color: $very-light-gray;
  border: none;
  outline: none;
  width: 9.5rem;
  line-height: 3rem;
  border-radius: 1.5rem;
  padding-bottom: 0.1rem;
  font-size: 0.9rem;
  font-family: $BeVietnam;
  font-weight: $bold-w;
  box-shadow: 0 1rem 1.5rem -0.3rem hsl(12, 88%, 80%);
  
  @media only screen and (max-width: 720px) {
    width: 12rem;
    line-height: 3.6rem;
    border-radius: 1.8rem;
    font-size: 1.1rem;
  }

  &:hover {
    background-color: hsl(12, 88%, 69%);
    cursor: pointer;
  }
}

// ATTRIBUTION
.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}