@import '../../assets/styles/variables';

footer {
  width: 100%;
  position: absolute;
  bottom: -4.5rem;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 450px) {
    flex-direction: column;
  }

  > p {
    color: $white;
    text-align: center;
    font-style: italic;

    &:first-child {
      margin-right: 0.4rem;
    }

    > a {
      text-decoration-style: wavy;
      color: hsl(0, 0%, 98%);
      font-weight: 600;
      opacity: 0.8;
      transition: opacity 300ms;
      
      &:hover {
        opacity: 1;
      }
    }
  }
}