@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/***************
 Primary Colors
***************/
/************
 Light Theme
************/
/***********
 Dark Theme
***********/
/*****
 Font
*****/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

/***************
 Primary Colors
***************/
/************
 Light Theme
************/
/***********
 Dark Theme
***********/
/*****
 Font
*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

body {
  min-height: 100vh;
}

#top-bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 35vh;
  border-radius: 0 0 20px 20px;
}

#dashboard-wrapper {
  margin: 0 auto;
  width: 80%;
}

.social-media-header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .social-media-header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 12px 0;
  }
  .social-media-header #header-divider {
    border: 0;
    width: 100%;
    height: 1px;
  }
}
.social-media-header__total-stats {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 640px) {
  .social-media-header__total-stats {
    justify-content: flex-start;
    margin-bottom: 10px;
  }
}

.top-cards, .overview-section {
  display: grid;
  grid-gap: 15px 25px;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 1000px) {
  .top-cards, .overview-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 450px) {
  .top-cards, .overview-section {
    grid-template-columns: auto;
  }
}

/***************
 Primary Colors
***************/
/************
 Light Theme
************/
/***********
 Dark Theme
***********/
/*****
 Font
*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.social-media-header h1 {
  margin-bottom: 5px;
}
@media only screen and (max-width: 640px) {
  .social-media-header h1 {
    font-size: 1.6rem;
  }
}
.social-media-header__toggle-switch {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .social-media-header__toggle-switch {
    width: 100%;
    justify-content: space-between;
  }
}
.social-media-header #toggle {
  appearance: none;
  padding: 3px;
  width: 44px;
  height: 22px;
  margin-left: 15px;
  border-radius: 11px;
  outline: none;
  cursor: pointer;
}
.social-media-header #toggle:after {
  content: "";
  display: inline-block;
  transition: 0.3s;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateX(22px);
}
.social-media-header #toggle:checked::after {
  transform: translateX(0);
  background-color: #1e202a;
}
.social-media-header #toggle:checked {
  background: linear-gradient(to right, #378fe6, #3eda82);
}

.top-cards {
  margin-bottom: 40px;
}
.top-cards .top-card {
  border-radius: 10px;
  overflow: hidden;
}
.top-cards .top-card:hover, .top-cards .top-card:focus {
  cursor: pointer;
}
.top-cards .top-card section {
  height: 220px;
}
.top-cards .top-card .top-card-border {
  height: 4px;
}
.top-cards .top-card .top-card-border.facebook {
  background: #198ff5;
}
.top-cards .top-card .top-card-border.twitter {
  background: #1ca0f2;
}
.top-cards .top-card .top-card-border.instagram {
  background: linear-gradient(to right, #fdc468, #df4996);
}
.top-cards .top-card .top-card-border.youtube {
  background: #c4032a;
}
.top-cards__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 25px;
}
.top-cards__header img {
  margin-right: 10px;
}
.top-cards__main {
  text-align: center;
}
.top-cards__main__followers span:first-child {
  font-size: 4rem;
}
.top-cards__main__followers span:last-child {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 400;
}
.top-cards__main__stats {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-cards__main__stats img {
  margin-right: 5px;
}

h2 {
  margin-bottom: 20px;
}

.overview-section {
  margin-bottom: 40px;
}
.overview-section__card {
  height: 120px;
  padding: 24px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overview-section__card:hover, .overview-section__card:focus {
  cursor: pointer;
  outline: none;
}
.overview-section__card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview-section__card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}
.overview-section__card__bottom span:first-child {
  font-size: 2rem;
  line-height: 1.8rem;
}
.overview-section__card__bottom img {
  margin-right: 3px;
}
.overview-section__card__bottom span:last-child {
  display: flex;
  align-items: center;
}

.stats-pos {
  color: #1db489;
}

.stats-neg {
  color: #dc414c;
}

.attribution {
  margin-bottom: 30px;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  font-weight: bold;
}
.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
  outline: none;
}

/***************
 Primary Colors
***************/
/************
 Light Theme
************/
/***********
 Dark Theme
***********/
/*****
 Font
*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.light-theme {
  background-color: white;
}
.light-theme #top-bg {
  background-color: #f5f7ff;
}
.light-theme .social-media-header h1 {
  color: #1e202a;
}
.light-theme .social-media-header span, .light-theme .social-media-header #toggle-label {
  color: #63687e;
}
.light-theme .social-media-header #toggle {
  background-color: #aeb3cb;
}
.light-theme .social-media-header #toggle:focus-visible {
  outline: 1.5px dashed #1e202a;
}
.light-theme .social-media-header #toggle:after {
  background-color: #f0f2fa;
}
@media only screen and (max-width: 640px) {
  .light-theme .social-media-header #header-divider {
    background-color: #63687e;
  }
}
.light-theme .top-cards__header span {
  color: #63687e;
}
.light-theme .top-cards .top-card:hover section, .light-theme .top-cards .top-card:focus section {
  background-color: #e1e5f4;
}
.light-theme .top-cards .top-card:focus {
  outline: 1.5px dashed #1e202a;
}
.light-theme .top-cards section {
  background-color: #f0f2fa;
}
.light-theme .top-cards__main__followers span:first-child {
  color: #1e202a;
}
.light-theme .top-cards__main__followers span:last-child {
  color: #63687e;
}
.light-theme h2 {
  color: #63687e;
}
.light-theme .overview-section__card {
  background-color: #f0f2fa;
}
.light-theme .overview-section__card:hover {
  background-color: #e1e5f4;
}
.light-theme .overview-section__card:focus {
  background-color: #e1e5f4;
  outline: 1.5px dashed #1e202a;
}
.light-theme .overview-section__card__top span:first-child {
  color: #63687e;
}
.light-theme .overview-section__card__bottom span:first-child {
  color: #1e202a;
}
.light-theme .attribution {
  color: #63687e;
}
.light-theme .attribution a {
  color: #1e202a;
}

/***************
 Primary Colors
***************/
/************
 Light Theme
************/
/***********
 Dark Theme
***********/
/*****
 Font
*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.dark-theme {
  background-color: #1e202a;
}
.dark-theme #top-bg {
  background-color: #1f212e;
}
.dark-theme .social-media-header h1 {
  color: white;
}
.dark-theme .social-media-header span, .dark-theme .social-media-header #toggle-label {
  color: #8b97c6;
}
.dark-theme .social-media-header #toggle:focus-visible {
  outline: 1.5px dashed white;
}
@media only screen and (max-width: 640px) {
  .dark-theme .social-media-header #header-divider {
    background-color: #8b97c6;
  }
}
.dark-theme .top-cards__header span {
  color: #8b97c6;
}
.dark-theme .top-cards .top-card:hover section, .dark-theme .top-cards .top-card:focus section {
  background-color: #303755;
}
.dark-theme .top-cards .top-card:focus {
  outline: 1.5px dashed white;
}
.dark-theme .top-cards section {
  background-color: #252a41;
}
.dark-theme .top-cards__main__followers span:first-child {
  color: white;
}
.dark-theme .top-cards__main__followers span:last-child {
  color: #8b97c6;
}
.dark-theme h2 {
  color: white;
}
.dark-theme .overview-section__card {
  background-color: #252a41;
}
.dark-theme .overview-section__card:hover {
  background-color: #303755;
}
.dark-theme .overview-section__card:focus {
  background-color: #303755;
  outline: 1.5px dashed white;
}
.dark-theme .overview-section__card__top span:first-child {
  color: #8b97c6;
}
.dark-theme .overview-section__card__bottom span:first-child {
  color: white;
}
.dark-theme .attribution {
  color: #8b97c6;
}
.dark-theme .attribution a {
  color: white;
}

/*# sourceMappingURL=main.css.map */
