
/*-- Primary colors --*/
$soft-cyan: hsl(174, 77%, 80%);  // full slider bar
$strong-cyan: hsl(174, 86%, 45%);  // slider bg
$light-grayish-red: hsl(14, 92%, 95%);  // discount bg
$light-red: hsl(15, 100%, 70%);  // discount text
$pale-blue: hsl(226, 100%, 87%);  // CTA text

/*-- Neutral colors --*/
$white: hsl(0, 0%, 100%);  // pricing component bg
$very-pale-blue: hsl(230, 100%, 99%);  // main bg
$light-grayish-blue-slider: hsl(224, 65%, 95%);  // empty slider bar
$light-grayish-blue-toggle: hsl(223, 50%, 87%);  // toggle bg
$grayish-blue: hsl(225, 20%, 60%);  // text
$dark-desaturated-blue: hsl(227, 35%, 25%);  // text & CTA bg

/*-- Typography --*/
$size: 15px;
$Manrope: 'Manrope', sans-serif;
$semi-bold: 600;
$extra-bold: 800;


/*-- STYLES --*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: $size;
  font-family: $Manrope;
  color: $grayish-blue;

  @media only screen and (max-width: 600px) {
    font-size: $size * 0.9;
  }
}

body {
  min-height: 100vh;
  background: $very-pale-blue url("../images/bg-pattern.svg") no-repeat;

  .container {
    min-height: 100vh;
    padding: 15vh 0;
    box-sizing: border-box;
    background: url("../images/pattern-circles.svg") no-repeat center 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-height: 720px) {
      padding: 8vh 0;
    }
  }
}


/*-- header --*/
header {
  margin-bottom: 10vh;
  text-align: center;
  box-sizing: border-box;

  @media only screen and (max-width: 600px) {
    width: 340px;
  }

  @media only screen and (max-height: 720px) {
    margin-bottom: 7vh;
  }

  h1 {
    font-weight: $extra-bold;
    margin-bottom: 10px;
    color: $dark-desaturated-blue;

    @media only screen and (max-width: 600px) {
      font-size: 1.7rem;
    }
  }

  @media only screen and (max-width: 600px) {
    p {
      padding: 0 80px;
      line-height: 1.5rem;
    }
  }
}


/*-- main --*/
main {
  background-color: $white;
  width: 550px;
  height: 380px;
  border-radius: 8px;
  filter: drop-shadow(0 2px 4px hsl(223, 50%, 87%));

  @media only screen and (max-width: 600px) {
    width: 340px;
    height: 500px;
  }
}


/*---- main-top ----*/
.main-top {
  height: 65%;
  border-bottom: 1px solid hsl(223, 50%, 87%);
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;

  @media only screen and (max-width: 600px) {
    height: 58%;
    padding: 0 20px;
  }
    
  .pageviews {
    height: 50px;
    position: absolute;
    left: 30px;
    top: 30px;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 600px) {
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
    }

    > span {
      text-transform: uppercase;
      font-weight: $extra-bold;
      letter-spacing: 2px;
    }
  }

  .money-container {
    position: absolute;
    height: 50px;
    right: 30px;
    top: 30px;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 600px) {
      left: 50%;
      transform: translateX(-50%);
      top: 150px;
      width: 100%;
      justify-content: center;
    }

    .money {
      font-weight: $extra-bold;
      color: $dark-desaturated-blue;
      font-size: 2.4rem;
    }

    #money-value {
      margin-right: 5px;
    }

    span:last-child {
      font-size: 16px;
    }
  }
  

  // slider (see styles below)

  .below-slider {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (max-width: 600px) {
      position: absolute;
      bottom: 20px;
      padding: 0 20px;
      right: 0;
    }

    // toggle switch (see styles below)

    span:last-child {
      margin-left: 10px;
      font-size: 0.7rem;
      color: $light-red;
      background-color: $light-grayish-red;
      padding: 0 5px;
      line-height: 18px;
      border-radius: 9px;

      @media only screen and (max-width: 600px) {
        margin-left: 5px;
      }
    }
  }
}


/*------ slider ------*/
#slider {
  appearance: none;
  margin: 120px 0 40px;

  @media only screen and (max-width: 600px) {
    margin: 100px 0 0;
  }

  cursor: pointer;
  width: 100%;
  height: 9px;

  background: linear-gradient(to right, hsl(174, 77%, 80%) 0% 50%, hsl(224, 65%, 95%) 50% 100%);
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: $strong-cyan url("../images/icon-slider.svg") no-repeat center;
    cursor: grabbing;
    filter: drop-shadow(0 10px 10px $soft-cyan);

    &:active {
      background-color: hsl(174, 86%, 40%);
    }
  }

  &::-moz-range-thumb {
    appearance: none;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: $strong-cyan url("../images/icon-slider.svg") no-repeat center;
    cursor: grabbing;
    filter: drop-shadow(0 10px 10px $soft-cyan);

    &:active {
      background-color: hsl(174, 86%, 40%);
    }
  }
}


/*------ toggle switch ------*/
.switch {
  #toggle-button {
    display: block;
    appearance: none;
    padding: 3px;
    width: 44px;
    height: 22px;
    margin: 0 15px;
    background-color: $light-grayish-blue-toggle;
    border-radius: 11px;
    outline: none;
    cursor: pointer;

    @media only screen and (max-width: 600px) {
      margin: 0 10px;
    }

    &:after {
      content: "";
      display: inline-block;
      transition: 0.3s;
      width: 16px;
      height: 16px;
      background-color: $white;
      border-radius: 50%;
      transform: translateX(0);
    }

    &:checked::after {
      transform: translateX(22px);  // 44-16-2*3
      background-color: $white;  
    }

    &:checked {
      background-color: $strong-cyan;
    }
  }
}


/*---- main-bottom ----*/
.main-bottom {
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;

  @media only screen and (max-width: 600px) {
    padding-top: 20px;
    height: 42%;
    flex-direction: column;
  }
}


/*------ main-bottom-left ------*/
.main-bottom-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    height: 90px;
    justify-content: space-around;
    align-items: center;
  }

  > div {
    display: flex;
  }

  img {
    align-self: center;
    margin-right: 10px;
  }
}


/*------ main-bottom-button ------*/
#main-bottom-button {
  width: 180px;
  height: 44px;
  font-family: $Manrope;
  background-color: $dark-desaturated-blue;
  color: $pale-blue;
  border: none;
  outline: none;
  border-radius: 22px;

  &:hover {
    cursor: pointer;
    color: $white;
  }
}
