/*-- Primary colors --*/
/*-- Neutral colors --*/
/*-- Typography --*/
/*-- STYLES --*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  color: #858fad;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 13.5px;
  }
}

body {
  min-height: 100vh;
  background: #fafbff url("../images/bg-pattern.svg") no-repeat;
}

body .container {
  min-height: 100vh;
  padding: 15vh 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../images/pattern-circles.svg") no-repeat center 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-height: 720px) {
  body .container {
    padding: 8vh 0;
  }
}

/*-- header --*/
header {
  margin-bottom: 10vh;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  header {
    width: 340px;
  }
}

@media only screen and (max-height: 720px) {
  header {
    margin-bottom: 7vh;
  }
}

header h1 {
  font-weight: 800;
  margin-bottom: 10px;
  color: #293356;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  header p {
    padding: 0 80px;
    line-height: 1.5rem;
  }
}

/*-- main --*/
main {
  background-color: white;
  width: 550px;
  height: 380px;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 2px 4px #cdd7ee);
          filter: drop-shadow(0 2px 4px #cdd7ee);
}

@media only screen and (max-width: 600px) {
  main {
    width: 340px;
    height: 500px;
  }
}

/*---- main-top ----*/
.main-top {
  height: 65%;
  border-bottom: 1px solid #cdd7ee;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .main-top {
    height: 58%;
    padding: 0 20px;
  }
}

.main-top .pageviews {
  height: 50px;
  position: absolute;
  left: 30px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .main-top .pageviews {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 20px;
  }
}

.main-top .pageviews > span {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.main-top .money-container {
  position: absolute;
  height: 50px;
  right: 30px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .main-top .money-container {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 150px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-top .money-container .money {
  font-weight: 800;
  color: #293356;
  font-size: 2.4rem;
}

.main-top .money-container #money-value {
  margin-right: 5px;
}

.main-top .money-container span:last-child {
  font-size: 16px;
}

.main-top .below-slider {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .main-top .below-slider {
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    right: 0;
  }
}

.main-top .below-slider span:last-child {
  margin-left: 10px;
  font-size: 0.7rem;
  color: #ff8c66;
  background-color: #feece7;
  padding: 0 5px;
  line-height: 18px;
  border-radius: 9px;
}

@media only screen and (max-width: 600px) {
  .main-top .below-slider span:last-child {
    margin-left: 5px;
  }
}

/*------ slider ------*/
#slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 120px 0 40px;
  cursor: pointer;
  width: 100%;
  height: 9px;
  background: -webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(50%, #eaeefb));
  background: linear-gradient(to right, #a5f3eb 0% 50%, #eaeefb 50% 100%);
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  #slider {
    margin: 100px 0 0;
  }
}

#slider:focus {
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #10d5c2 url("../images/icon-slider.svg") no-repeat center;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-filter: drop-shadow(0 10px 10px #a5f3eb);
          filter: drop-shadow(0 10px 10px #a5f3eb);
}

#slider::-webkit-slider-thumb:active {
  background-color: #0ebeac;
}

#slider::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #10d5c2 url("../images/icon-slider.svg") no-repeat center;
  cursor: grabbing;
  filter: drop-shadow(0 10px 10px #a5f3eb);
}

#slider::-moz-range-thumb:active {
  background-color: #0ebeac;
}

/*------ toggle switch ------*/
.switch #toggle-button {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 3px;
  width: 44px;
  height: 22px;
  margin: 0 15px;
  background-color: #cdd7ee;
  border-radius: 11px;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .switch #toggle-button {
    margin: 0 10px;
  }
}

.switch #toggle-button:after {
  content: "";
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.switch #toggle-button:checked::after {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
  background-color: white;
}

.switch #toggle-button:checked {
  background-color: #10d5c2;
}

/*---- main-bottom ----*/
.main-bottom {
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .main-bottom {
    padding-top: 20px;
    height: 42%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*------ main-bottom-left ------*/
.main-bottom-left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .main-bottom-left {
    height: 90px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-bottom-left > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-bottom-left img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
}

/*------ main-bottom-button ------*/
#main-bottom-button {
  width: 180px;
  height: 44px;
  font-family: "Manrope", sans-serif;
  background-color: #293356;
  color: #bdccff;
  border: none;
  outline: none;
  border-radius: 22px;
}

#main-bottom-button:hover {
  cursor: pointer;
  color: white;
}
/*# sourceMappingURL=main.css.map */