$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

$gradient-from: hsl(6, 100%, 80%);
$gradient-to: hsl(335, 100%, 65%);

$normal-weight: 400;
$bold-weight: 700;

$font-family: "Raleway";


/*------------------
    Main Styles
------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 1px;
}

body {
  height: 100vh;
  font-family: $font-family;
  background-color: $very-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 50%;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  align-items: end;
}

@media screen and (max-width: 900px) {
  body {
    background-size: 100% 60%;
  }

  main {
    grid-template-columns: auto;
    justify-items: center;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("../images/bg-mobile.png");
    background-size: cover;
  }

  main {
    grid-gap: 20px;
  }
}


/*--------------------
    Left-side Div
--------------------*/
.logo-and-buttons {
  background-color: $dark-blue;
  border-radius: 10px 100px 10px 10px;
  width: 320px;
  height: 200px;
  padding: 38px;

  .logo {
    margin-bottom: 30px;
  }
}

.buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;

  .icon-container {
    width: 40px;
    height: 40px;
    background-color: $very-dark-blue;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

/*-----------------------------
    Right-side Div (Stats)
-----------------------------*/
.stats {
  background-color: $dark-blue;
  border-radius: 10px;
  width: 500px;
  height: 130px;
  padding: 30px;
  color: #FFF;
  position: relative;
}

.left-gb-label {
  background-color: #FFF;
  color: $very-dark-blue;
  display: inline-block;
  padding: 12px 22px;
  border-radius: 8px;
  position: absolute;
  top: -40px;
  right: 30px;  // parent padding
}

.left-gb-triangle {
  position: absolute;
  width: 0;
  height: 0;
  bottom: -22px;  // triangle height - parent border
  right: 0;
  border-left: 30px solid transparent;
  border-top: 30px solid #FFF;
}

@media screen and (max-width: 900px) {
  .stats {
    height: 150px;
  }

  .left-gb-label {
    top: 120px;
    right: 50%;
    transform: translateX(50%);
  }

  .left-gb-triangle {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .stats {
    width: 320px;
    text-align: center;
  }

  .used-gb-label, .gb815 {
    font-size: 0.9em;
  }
}

/*-----------------
      Slider
-----------------*/
.slider {
  width: 100%;
  height: 18px;
  background-color: $very-dark-blue;
  margin: 14px 0 6px;
  border-radius: calc(18px / 2);  // height / 2
  display: flex;
  align-items: center;
  padding: 2px;
}

.slider-track {
  width: 81.5%;
  height: 100%;
  border-radius: 7px;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to right, $gradient-from, $gradient-to);
}

.slider-thumb {
  // 18px (.slider) - 2*2px (.slider padding) - 2*2px (.slider-track padding)
  width: 10px;
  height: 10px;  // height = width
  border-radius: 50%;
  background-color: #FFF;
}

/*--------------------------------
    stats > main-information
--------------------------------*/

.main-information {
  display: flex;
  flex-direction: column;
}

.gb-slider-labels {
  display: flex;
  justify-content: space-between;
}

.gb0, .gb1000, .gb815, .gb185-left {
  font-weight: $bold-weight;
}

.gb185-left {
  display: flex;
  align-items: center;
}

.gb-left {
  font-size: 0.8em;
  color: $grayish-blue;
  margin-left: 0.6em;
}

.gb0, .gb1000 {
  font-size: 0.8em;
}

.gb185 {
  font-size: 2em;
}
