@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
@import './variables';
@import './extras';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;

  @media only screen and (min-width: $desktop-bp) {
    font-size: $font-sz;
  }
}

body {
  height: 100%;
  font-family: $custom-family;
  background: url('../../images/bg-header-mobile.png') no-repeat;

  @media only screen and (min-width: 376px) { background: url('../../images/bg-header-desktop.png') no-repeat; }
  @media only screen and (min-width: 1440px) { background-size: 100%; }
}

h1, h2, h3, span { color: $dark-grayish-blue; }
p { color: $grayish-blue; }

h1 { line-height: 2.5rem; }
h2 { line-height: 2rem; }
h3 { line-height: 1.6rem; }

button {
  @extend %button;

  &.ios { 
    background-color: $strong-cyan;
    @include shadow($strong-cyan-darker, $strong-cyan-02, $strong-cyan-04);
  }

  &.mac {
    background-color: $light-blue;
    @include shadow($light-blue-darker, $light-blue-02, $light-blue-04);
  }
}
