@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #1e1f29;
  background-image: url("../../images/pattern-hills.svg"), url("../../images/bg-stars.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, top;
}
@media only screen and (max-width: 700px) {
  body {
    background-position: 85% 100%, top;
  }
}

#wrapper {
  width: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  #wrapper {
    width: 90vw;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 700px) {
  main {
    justify-content: space-evenly;
  }
}

footer {
  width: 96vw;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

h1 {
  color: white;
  position: absolute;
  top: 16%;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  h1 {
    top: 20%;
    width: 90%;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
  }
}

.grid-cell {
  text-align: center;
}
.grid-cell .card {
  border-radius: 8px;
  overflow: hidden;
  width: 128px;
  height: 128px;
  bottom: 20px;
  position: relative;
  background-color: #343650;
  filter: drop-shadow(0 8px 0 #191a24);
}
@media only screen and (max-width: 700px) {
  .grid-cell .card {
    width: 18vw;
    height: 18vw;
    bottom: 10px;
    border-radius: 1.125vw;
    filter: drop-shadow(0 1.125vw 0 #191a24);
  }
}
.grid-cell .card svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.grid-cell .card hr {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border: 0;
  width: 116px;
  height: 1px;
  background-color: rgba(25, 26, 36, 0.4);
  z-index: 2;
}
@media only screen and (max-width: 700px) {
  .grid-cell .card hr {
    width: 16.2vw;
  }
}
.grid-cell .card__top, .grid-cell .card__bottom, .grid-cell .card__bottom-bg {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.grid-cell .card__top__number, .grid-cell .card__bottom__number, .grid-cell .card__bottom-bg__number {
  position: absolute;
  font-size: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 700px) {
  .grid-cell .card__top__number, .grid-cell .card__bottom__number, .grid-cell .card__bottom-bg__number {
    font-size: 9vw;
  }
}
.grid-cell .card__top {
  top: 0;
  background-color: #292b40;
  color: rgba(251, 96, 135, 0.7);
}
.grid-cell .card__top__number {
  top: 100%;
}
.grid-cell .card__bottom, .grid-cell .card__bottom-bg {
  bottom: 0;
  background-color: #343650;
  color: #fb6087;
}
.grid-cell .card__bottom {
  transform-origin: top;
  z-index: 1;
}
.grid-cell .card__bottom__number {
  top: 0;
  transform: translate(-50%, -50%);
}
.grid-cell .label {
  color: #8486a9;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
@media only screen and (max-width: 700px) {
  .grid-cell .label {
    font-size: 1.8vw;
    letter-spacing: 0.15rem;
  }
}

.social-media {
  margin: 0 auto;
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.social-media a:hover, .social-media a:focus {
  outline: none;
}
.social-media a:hover svg path, .social-media a:focus svg path {
  fill: #fb6087;
}
.social-media svg path {
  transition: 0.3s;
}

.attribution {
  margin-top: 20px;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  color: #8486a9;
  font-family: "Red Hat Text", sans-serif;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .attribution {
    font-size: 10px;
    margin-top: 10px;
  }
}
.attribution a {
  color: white;
  text-decoration: none;
}
.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
  outline: none;
}

/*# sourceMappingURL=main.css.map */
