main {
  width: 40rem;
  border-radius: 0.6rem;
  overflow: hidden;
  filter: drop-shadow(0 1rem 1rem hsla(218, 22%, 67%, 0.6));

  @media only screen and (max-width: 700px) {
    width: 22rem;
    max-width: 90vw;
    filter: drop-shadow(0 0.6rem 0.6rem hsla(218, 22%, 67%, 0.6));
  }

  .main-bottom {
    display: flex;

    @media only screen and (max-width: 700px) {
      flex-direction: column;
    }
  }
}

.first-time-animation {
  animation: card-appear-desktop 1s 1 ease-out;

  @media only screen and (max-width: 700px) {
    animation: card-appear-mobile 1s 1 ease-out;
  }
}

@import "animation";
.card-fade-in {
  @include fading(in, 2s);
}

.card-fade-out {
  @include fading(out, 1s);
}