@import '../../assets/styles/variables';

.Wrapper {
  color: $white;
  flex-basis: 45%;

  @media only screen and (max-width: $desktopBreakpoint) {
    flex-basis: auto;
    margin-bottom: 4rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: $desktopBreakpoint) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }

  p {
    line-height: 1.6rem;
  }
}