:root {
  --light-cyan: hsl(180, 40%, 94%);
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --light-gray: hsl(0, 0%, 96%);

  --comissioner: 'Commissioner', sans-serif;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: var(--comissioner);
}

body {
  background-color: var(--light-gray);
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 21vw;
  animation: fade-in-body 1s 1;

  &::before {
    content: "";
    width: 100vw;
    background: url("../assets/images/image-hero-desktop.jpg") no-repeat top;
    background-size: cover;
    box-shadow: inset 0 1rem 1rem hsla(0, 0%, 0%, 0.1),
                inset 0 2rem 2rem hsla(0, 0%, 0%, 0.1),
                inset 0 3rem 3rem hsla(0, 0%, 0%, 0.1),
                inset 0 4rem 4rem hsla(0, 0%, 0%, 0.1),
                inset 0 8rem 8rem hsla(0, 0%, 0%, 0.1),
                0 0.2rem 0.2rem hsla(0, 0%, 0%, 0.1),
                0 0.4rem 0.4rem hsla(0, 0%, 0%, 0.1),
                0 0.8rem 0.8rem hsla(0, 0%, 0%, 0.1),
                0 0.12rem 0.12rem hsla(0, 0%, 0%, 0.1);
    position: absolute;
    top: 0;
    height: 0;
    padding-top: 27.77vw;  // (img-height / img-width * 100%)
    z-index: -1;
  }
}

.dark-bg {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.6);
    z-index: 2;
  }

  &.fade-in::before {
    animation: darken-bg 600ms 1 forwards ease-out;
  }

  &.fade-out::before {
    z-index: -1;
    animation: lighten-bg 600ms 1 forwards ease-in;
  }
}

main {
  width: 46rem;
  max-width: 90%;
  margin: 0 auto;

  > * {
    width: 100%;
    border-radius: 0.6rem;
    background-color: white;
    padding: 3rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    filter: drop-shadow(0 0 1rem hsla(0, 0%, 0%, 0.1));
  }
}

button:not(.close) {
  height: 3.2rem;
  line-height: 3.2rem;
  border-radius: 1.6rem;
  font-size: 1rem;
  font-family: var(--comissioner);
  font-weight: var(--semi-bold);
  outline: none;
  border: none;
  background-color: var(--moderate-cyan);
  color: white;
  transition: 0.4s;

  &:hover {
    cursor: pointer;
    background-color: var(--dark-cyan);
  }
}

p {
  color: var(--dark-gray);
}