@import "../base";

footer {
  height: 18rem;
  background-color: $very-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 720px) {
    height: 48rem;
  }

  .footer-wrapper {
    position: relative;
    width: 1160px;
    min-width: 80%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 720px) {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      align-items: center;
      width: 86%;
      height: 100%;
      padding-bottom: 4rem;
    }

    .social-media {
      @media only screen and (max-width: 720px) {
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }

      img {
        width: 12vw;
        height: auto;
        margin-bottom: 5rem;
        padding-top: 0.125rem;

        @media only screen and (max-width: 720px) {
          width: 40vw;
          height: auto;
          margin: 5rem 0 0;
        }
      }

      &__links {
        @media only screen and (max-width: 720px) {
          width: 100%;

          display: flex;
          justify-content: space-between;
        }

        a {
          margin: 0 0.4rem;
          display: inline-block;
          width: 1.5rem;

          @media only screen and (max-width: 720px) {
            width: 3rem;
          }

          svg path {
            transition: 0.4s;
          }

          &:hover svg path {
            fill: $bright-red;
          }
        }
      }
    }

    .extra-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 12rem;

      @media only screen and (max-width: 720px) {
        grid-gap: 1rem 7rem;
        font-size: 1.3rem;
      }

      span {
        align-self: center;
      }

      a {
        color: $very-light-gray;

        &:hover {
          color: $bright-red;

          &::before {
            background-color: $bright-red;
          }
        }
      }
    }

    .subscription-form {
      @media only screen and (max-width: 720px) {
        width: 100%;

        form {
          display: flex;
          justify-content: space-between;
        }
      }

      input[type="text"] {
        outline: none;
        width: 15rem;
        line-height: 2.8rem;
        border-width: 0.1rem;
        border-style: solid;
        border-radius: 1.5rem;
        font-size: 1rem;
        font-family: $BeVietnam;
        font-weight: $medium-w;
        padding: 0 1rem;
        margin-right: 0.4rem;

        @media only screen and (max-width: 720px) {
          width: 23rem;
          border-width: 0.15rem;
          line-height: 3.7rem;
          border-radius: 2rem;
          font-size: 1.2rem;
          font-weight: $regular-w;
          padding: 0 1.8rem;
        }

        &.default-text {
          border-color: transparent;

          &::placeholder {
            color: $dark-grayish-blue;
            opacity: 0.7;
          }
        }

        &.error-text {
          border-color: $bright-red;

          &::placeholder {
            color: $bright-red;
          }
        }
      }

      input[type="submit"] {
        border: none;
        outline: none;
        width: 4.5rem;
        line-height: 3rem;
        border-radius: 1.5rem;
        font-size: 1rem;
        font-weight: $bold-w;
        font-family: $BeVietnam;
        background-color: $bright-red;
        color: $very-light-gray;

        @media only screen and (max-width: 720px) {
          width: 7rem;
          line-height: 4rem;
          border-radius: 2rem;
          font-size: 1.2rem;
          font-weight: $medium-w;
          text-transform: uppercase;
        }

        &:hover {
          background-color: hsl(12, 88%, 69%);
          cursor: pointer;
        }

        &:active {
          transform: translateY(-0.2rem);
        }
      }

      .error-input-label {
        position: absolute;
        opacity: 0;
        font-size: 0.75rem;
        padding-left: 1.2rem;
        color: $bright-red;

        @media only screen and (max-width: 720px) {
          font-size: 1rem;
        }
      }
    }

    #copyright {
      position: absolute;
      color: $dark-grayish-blue;
      bottom: 0;
      right: 0;

      @media only screen and (max-width: 720px) {
        width: 100%;
        text-align: center;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}