@import "../base";

header {
  width: 1160px;
  min-width: 80%;
  max-width: 90%;
  margin: 4rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 720px) {
    width: 86%;
  }

  img {
    padding-top: 0.5rem;
    width: 12vw;
    height: auto;

    @media only screen and (max-width: 720px) {
      width: 30vw;
      height: auto;
    }
  }

  a {
    color: $dark-blue;
    font-weight: $medium-w;
    margin: 1.3rem;

    &:hover {
      color: $dark-grayish-blue;

      &::before {
        background-color: $dark-grayish-blue;
      }
    }
  }

  .menu-mobile {
    position: absolute;
    width: 86%;
    height: 29rem;
    background-color: $white;
    left: 7%;
    top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    z-index: 2;

    a {
      font-size: 1.8rem;
      font-weight: $bold-w;
      margin: 1rem;
    }
  }

  button {
    margin-right: 1.3rem;

    @media only screen and (max-width: 720px) {
      display: none;
    }
  }

  .menu-btn {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    margin-bottom: 0.5rem;
    margin-right: 0;
    width: 2rem;
    height: 2.2rem;
    z-index: 2;
    cursor: pointer;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      padding: 0;
    }
  }
}