@keyframes card-flip {
  from {
    transform: rotateX(0deg);
    background-color: #343650;
    color: hsl(345, 95%, 68%);
  }
  to {
    transform: rotateX(180deg);
    background-color: #292b40;
    color: green;//hsla(345, 95%, 68%, 0.7);
  }
}