@import "base";

h1 {
  color: $white;
  position: absolute;
  top: 16%;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
  text-align: center;

  @media only screen and (max-width: 700px) {
    top: 20%;
    width: 90%;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
  }
}

.grid-cell {
  text-align: center;

  .card {
    border-radius: 8px;
    overflow: hidden;
    width: 128px;
    height: 128px;
    bottom: 20px;
    position: relative;
    background-color: $dark-desaturated-blue;
    filter: drop-shadow(0 8px 0 $almost-black);

    @media only screen and (max-width: 700px) {
      width: 18vw;
      height: 18vw;
      bottom: 10px;
      border-radius: 1.125vw;  //  18vw / 16 (the same for drop-shadow below)
      filter: drop-shadow(0 1.125vw 0 $almost-black);
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }

    hr {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      border: 0;
      width: 116px; // 128-6*2
      height: 1px;
      background-color: hsla(234, 17%, 12%, 0.4);
      z-index: 2;

      @media only screen and (max-width: 700px) {
        width: 16.2vw; // 18vw - 2*0.9vw
      }
    }

    &__top, &__bottom, &__bottom-bg {
      position: absolute;
      width: 100%;
      height: 50%;
      overflow: hidden;

      &__number {
        position: absolute;
        font-size: 5rem;
        left: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: 700px) {
          font-size: 9vw;
        }
      }
    }

    &__top {
      top: 0;
      background-color: #292b40;
      color: hsla(345, 95%, 68%, 0.7);

      &__number {
        top: 100%;
      }
    }

    &__bottom, &__bottom-bg {
      bottom: 0;
      background-color: #343650;
      color: hsl(345, 95%, 68%);
    }

    &__bottom {
      transform-origin: top;
      z-index: 1;

      &__number {
        top: 0;
        transform: translate(-50%, -50%);
      }
    }
  }

  .label {
    color: $grayish-blue;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    @media only screen and (max-width: 700px) {
      font-size: 1.8vw;
      letter-spacing: 0.15rem;
    }
  }
}

.social-media {
  margin: 0 auto;
  width: 120px;
  display: flex;
  justify-content: space-between;

  a:hover, a:focus {
    outline: none;

    svg path {
      fill: $soft-red;
    }
  }

  svg path {
    transition: 0.3s;
  }
}

.attribution {
  margin-top: 20px;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  color: $grayish-blue;
  font-family: $RedHatText;
  width: 100%;

  @media only screen and (max-width: 700px) {
    font-size: 10px;
    margin-top: 10px;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
      outline: none;
    }
  }
}