@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/* My laptop screen width is 1280, which is 0.89 of 1440 */
/*---------------
    Variables
---------------*/
/*--------------------
    General Styles
--------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #ecf2f8;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

/*-------------
    Wrapper
-------------*/
#content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) and (max-height: 490px) {
  #content-wrapper {
    padding: 30px 0 30px;
  }
}

/*----------
    main
----------*/
main {
  background-color: #ffffff;
  border-radius: 10px;
  width: 720px;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
}

@media only screen and (max-width: 800px) {
  main {
    width: 340px;
    height: 490px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
}

main .img-container {
  width: 37%;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  main .img-container {
    width: auto;
    height: 43%;
    position: relative;
  }
  main .img-container img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -45px;
  }
}

/*---------------------
    Article Preview
---------------------*/
.article-preview {
  width: 63%;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .article-preview {
    width: auto;
    height: 57%;
  }
}

.article-preview h1, .article-preview p {
  margin-left: 30px;
  margin-right: 50px;
}

@media only screen and (max-width: 800px) {
  .article-preview h1, .article-preview p {
    margin-right: 30px;
  }
}

.article-preview h1 {
  font-size: 22.1px;
  line-height: 1.8rem;
  color: #48556a;
}

@media only screen and (max-width: 800px) {
  .article-preview h1 {
    font-size: 17.55px;
    line-height: 1.5rem;
  }
}

.article-preview p {
  margin-top: 15px;
  color: #6d7f97;
  font-weight: 500;
  line-height: 1.2rem;
}

/*------------
    Footer
------------*/
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 0 50px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .main-footer {
    padding-right: 30px;
  }
}

.main-footer .person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer .person-info img {
  border-radius: 50%;
  margin-right: 10px;
}

.main-footer .person-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-footer .person-info .name {
  color: #48556a;
}

.main-footer .person-info .date {
  color: #9eafc2;
}

.main-footer #share-button {
  background-color: #ecf2f8;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
}

.main-footer #share-button:hover {
  cursor: pointer;
}

/*------------------
    Footer links
------------------*/
.footer-links {
  position: absolute;
  width: 220px;
  height: 45px;
  left: 278.6px;
  top: -48px;
  background-color: #48556a;
  padding: 0 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0 3px 6px #9eafc2);
          filter: drop-shadow(0 3px 6px #9eafc2);
}

@media only screen and (max-width: 800px) {
  .footer-links {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 30px;
    border-radius: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-filter: none;
            filter: none;
  }
  .footer-links > * {
    padding-right: 20px;
  }
}

.footer-links span {
  color: #9eafc2;
  letter-spacing: 3px;
  margin-right: 5px;
}

.footer-links .triangle {
  width: 0;
  height: 0;
  border-top: 12px solid #48556a;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  bottom: -12px;
}

@media only screen and (max-width: 800px) {
  .footer-links .triangle {
    display: none;
  }
}

/*-----------------
    Attribution
-----------------*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */